#
# tcp window size customizing for sprint.
#
on boot

# AuthenTec VPNClient Interceptor module
   insmod /system/lib/modules/vpnclient.ko

#Sensor Property

on property:ro.yas_softiron.apexqtmo=true
	write /sys/class/input/input3/ellipsoid_mode 0
	write /sys/class/input/input3/static_matrix "10319 -477 45 -147 9510 171 -170 52 10187"\
#SISO Anuradha change start
# TVout
service TvoutService_C /system/bin/bintvoutservice
     class main
     user system
     group system
#SISO Anuradha change end

# AuthenTec VPNClient 
service vpnclientpm /system/bin/vpnclientpm -O /data/data/com.ipsec.vpnclient/vpnclientpm.txt
    group system net_admin net_raw
    disabled
   
service vpncstarter /system/bin/vpncstarter
    class main
    user system
    group system

on property:vpnclientpm.enable=1
    start vpnclientpm
   
on property:vpnclientpm.enable=0
    stop vpnclientpm